*{
    font-family:Roboto Slab,serif;
}
body{
    display:flex;
    flex-direction:row; 
    background-image:url("../Images/videoblocks-pan-close-up-shot-of-trash-and-rubbish-on-sand-of-seashore-on-sea-background-environmental-problem-on-beach_sezmmbg3f_thumbnail-full01.png");
    }
.game{
        width:100vw;
        height:50vw;
        background-repeat: no-repeat;
        position:relative;
    }
#boat{
    position:absolute;
    width:50px;
    top:30vw;
    left:47%;
    
}
.trashCan{
    position:absolute;
    width:35px;
}

.heart{
    position:relative;
    width:55px;
    height:55px;
}
.lives{
    width:300px;
    animation:score 5s infinite;
}
.cross{
    position:relative;
    width:55px;
    height:55px;
}

.trashChips{
    position:absolute;
    width:60px;
}
.trashBag{
    position:absolute;
    width:60px;
}
.endScreen{
    display:none;
    width:100vw;
    color: white;
    justify-content:center;
    flex-direction:column;
    align-items:center; 

}
.gameElements{
   display:none;
}
.startingScreen{
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.startingScreen h1{
    text-align:center;
    font-size:5em;
    font-weight:700;
}
.startingScreen h2{
    font-size:2em;
    font-weight:800;
    color:rgb(27, 27, 27);
}
p{
    width:30vw;
    font-size:1.2em;
    font-weight:800;
}
.facts{
    display:flex;
    flex-wrap:wrap;
}
.fact{
    width:40%;
    text-shadow:10px 10px 8px white;
    margin-left:10%;
}
#button{
    font-size:3em;
    width:20vw;
    height:5vw;
    border-radius:10px;
    border-style:none;
    animation:colorChange 10s infinite;
    font-weight:800;
    color:rgb(189, 180, 180)
}
@keyframes colorChange{
    10%{
        background-color:darkblue;
    }
    20%{
        background-color:black;
    }
    30%{
        background-color:darkblue;
    }
    40%{
        background-color:blue;
    }
    50%{
        background-color:black;
    }
    60%{
        background-color:darkblue;
    }
    70%{
        background-color:blue;
    }
    80%{
        background-color:black;
    }
    90%{
        background-color:darkblue;
    }
    100%{
        background-color:blue;
    }
}
#buttonWrapper{
    margin-top:60px;
    width:100vw;
    display:flex;
    justify-content:center;
}
.gameInfo{
    position:fixed; 
    display:flex;
    justify-content:space-between;
    width:95vw;
    z-index:99;
}
.coin{
    position:absolute;
    width:60px;
}
.scoreBoard{
    display:flex;
    font-size:2.2em;
    animation:score 5s infinite;   
   align-items:center;

}
@keyframes score{
    0%{
        color:blue;
    }
    10%{
        color:red;
    }
    20%{
        color:green;
    }
    30%{
        color:yellow;
    }
    40%{
        color:pink;
    }
    50%{
        color:violet;
    }
    60%{
        color:orange;
    }
    70%{
        color:brown;
    }
    80%{
        color:blue;
    }
    90%{
        color:green;
    }
    100%{
        color:violet;
    }
}
.scoreEnd{
    width:100vw;
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    font-size:3em;
}
.paper{
    width:50vw;
}
.finalGif{
    width:42vw;
}
.instructions{
    display:none;
    width:100vw;
    color:white;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.instructions h1{
    font-size:5em;
}
.instructions ul li{
    margin-top:50px;
    font-size:3em;
    position:relative;
    left:24%;
    width:50%;
    list-style-type:none;
    text-align: center;
}
.score{
    font-size:2em;
    width:30vw;
    font-size:1.3em;
    font-weight:800;
}
@media (max-width: 1800px){
    #boat{
        width:40px;
    }
    .trashBag{
    width:50px;
    }
    .trashCan{
    width:27px;
    }
    .trashChips{
    width:50px;
    }
}
@media(max-width:2100px) and (min-width:1900px){
    #boat{
        width:60px;
    }
    .trashBag{
    width:70px;
    }
    .trashCan{
    width:43px;
    }
    .trashChips{
    width:70px;
    }
}
@media(max-width:2500px) and (min-width:2101px){
    #boat{
        width:70px;
    }
    .trashBag{
    width:80px;
    }
    .trashCan{
    width:53px;
    }
    .trashChips{
    width:80px;
    }
}
#restartButton{
    font-size:3em;
    width:20vw;
    height:5vw;
    border-radius:10px;
    border-style:none;
    animation:colorChange 10s infinite;
    font-weight:800;
    color:rgb(189, 180, 180);
    margin-top:55px;
}
video{
   position:absolute;
   top:0;
   left:0;
   object-fit:cover;
   width:100%;
   height:100%;
   pointer-events: none;
}

.video{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.trashBottle{
    position:absolute;
    width:30px;
}
.trashPlastic{
    position:absolute;
    width:50px;
}